.container {
  padding: 20px;
   
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.form input,
.form textarea {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}